{% extends "base.html" %}
{% block body %}
    <div>
        <b>Hours</b>: <br>
	Monday - Friday: 7am - 7pm <br>
	Saturday &#38 Sunday: 8am - 3pm 
    </div>
    <hr>
    <div>
        <b>Phone number:</b> <a href="tel:(617) 489 1948">(617) 489-1948</a>
    </div>
    <div>
        <b>Email address:</b> <a href="mailto:michael@bakehausbyclc.com">michael@bakehausbyclc.com</a>
    </div>
    <div>
        <b>Address:</b> 442 Common Street, Belmont MA 02478
    </div>
    <br>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9913.39011982113!2d-71.1816390923131!3d42.379426007277495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e377f201d6ac7f%3A0x47952c54bda08b8b!2s442%20Common%20St%2C%20Belmont%2C%20MA%2002478!5e0!3m2!1sen!2sus!4v1575953192727!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
{% endblock %}

