{% extends "base.html" %}
{% block body %}
    <h2> Bakehaus is currently open for takeout!  </h2> 
    <div>
        Please stop by for a snack or full meal any time Monday -  Friday 7am to 5pm. We are happy to prepare your meal in advance; please call us on 
        <a href="tel:(617) 484-0425">(617) 484-0425</a>.  
    </div>

    <h1> Menu </h1>
    <!--<a href="menus/menu-2020-02-15.pdf" download> Download Menu </a>
    -->
    <a href="https://drive.google.com/uc?export=download&id=1YT4Xs6GeQxr0UbQSyd49F2sAQuvx5unH" download> Download Menu </a>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQSvakG5J8TlL8U68SG7vTmm93kDTI5rR2s1swYJ5usxR6Qa-gbX3A_5kxVvL2a8lkC0dU_doDq_HSc/embed?start=false&loop=false&delayms=1000" frameborder="0" width="816" height="1277" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
	frameBorder="0"
	width="100%"
	height='900'
    ></iframe>
<!--	frameBorder="0"
    	scrolling="auto"
    	height="100%"
   	width="100%"
-->
{% endblock %}

