{% extends "base.html" %}
{% block body %}
    <div>

        <h2> Bakehaus will be temporarily closed on Tuesday (2021, Feb. 02) due to predicted heavy snowfall. Otherwise we will be open the usual hours.  </h2> 
    </div>

    <!--

    <div>
	<img src="images/Thanksgiving.jpg" alt="thanksgiving hours" width="600" height="315">
    </div>
	<h2> Next week we will be open the usual hours! </h2>
    -->



    <div>
	<h2> Bakehaus is now open for dine in or takeout! </h2>
        Please stop by for a snack or full meal any time Monday -  Friday 7am to 7pm and Saturday - Sunday 8am to 3pm. We are happy to prepare your meal in advance; please call us on 
        <a href="tel:(617) 489 1948">(617) 489-1948</a>.  
    </div>

    <h2>
	<h3> For delivery please order online! </h3>
	<button type="button" onclick="location.href='https://bakehausbyclc.getbento.com/online-ordering/bakehausbyclc/menu'" class=btn2> ORDER ONLINE </button> <br>
    </h2>
	<!--<h2> <a href="https://bakehausbyclc.getbento.com/online-ordering/bakehausbyclc/menu"> order online </a>  </h2>
    
    <div> 
	<h3> <span style="vertical-align: -120px;">scroll down for the Holiday menu and New Year's Eve menu. </span> </h3>
    </div>
    -->

	<h1> Menu </h1>
	<h3> Valentine's menu -- see below </h3>

    <div>
	<a href="menus/menu-2021-01-05.pdf" download> 
	<img src="menus/menu-2021-01-05.jpg" alt="Menu" width="100%">
    </div>

    <div>
	<a href="menus/Valentine2021-menu-web.pdf" download> 
	<img src="menus/Valentine2021-menu-web.png" alt="Valentines menu 2021" width="100%">
    </div>

    <!--

    <div>
	<h3> scroll down for the Holiday menu and New Year's Eve menu. </h3>
	<img src="images/Thanksgiving.jpg" alt="thanksgiving hours" width="600" height="315">
    </div>

    -->

    <!--
    <iframe src="https://docs.google.com/viewer?url=https://bakehausbyclc.com/menus/menu-2020-10-27.pdf&embedded=true" 
	width="100%"
	height="1100"
	frameborder="0"
    ></iframe>
	

    <iframe src="https://docs.google.com/viewer?url=https://bakehausbyclc.com/menus/Xmas2020-menu-web.pdf&embedded=true" 
	width="100%"
	height="1100"
	frameborder="0"
    ></iframe>

    -->


    <!-- google slides 
	<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQSvakG5J8TlL8U68SG7vTmm93kDTI5rR2s1swYJ5usxR6Qa-gbX3A_5kxVvL2a8lkC0dU_doDq_HSc/embed?start=false&loop=false&delayms=1000" frameborder="0" width="816" height="1277" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
	frameBorder="0"
	width="100%"
	height='900'
    ></iframe>
    -->

<!--	frameBorder="0"
    	scrolling="auto"
    	height="100%"
   	width="100%"
-->
{% endblock %}

