{% extends "base.html" %}
{% block body %}
    <div class="centertext">
        Menu will go here.
    </div>
    <div>
        <ul>
            <li>Baked Goods
                <ul>
                    <li>Croissant</li>
                </ul>
            </li>
            <li>Breakfast
                <ul>
                    <li>Breakfast Sandwich</li>
                </ul>
                <ul>
                    <li>Chicken n' Waffles</li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

