:root {
  --bh-blue: #0f2065;
  --bh-yellow: #eb9c52;
  --bh-white: #edebeb;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

a:visited {
    color: blue;
}

.content {
    width: 95%;
    /*
    min-width: 750px;
    width: 600px;
    */
    margin: 0 auto;
    padding: 10px;
    background-color: var(--bh-white);
}

.centertext {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.titleimg {
    padding-bottom: 5px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.parent {
    text-align: center;
}

.bluebackground {
    background-color: var(--bh-blue);
}

.navlinks {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

ul {
    list-style-position: inside;
}

<style>
  .bottom-three {
     margin-bottom: 3cm;
  }
</style>

